
src/main/.DS_Store
src/.DS_Store
build/tmp/compileJava/previous-compilation-data.bin
build/resources/main/plusbutton.png
build/resources/main/pipette_mono.png
build/resources/main/minusbutton.png
build/resources/main/dnatube.png
build/classes/java/main/main/StaticObject.class
build/classes/java/main/main/Pipette.class
build/classes/java/main/main/Lab.class
build/classes/java/main/main/Freecoli.class
build/classes/java/main/main/Experiment.class
build/classes/java/main/main/App.class
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
.DS_Store
